/* GoalCard 스타일링 */

.goalCard {
  border-radius: 40px;
  border: 1px solid #ddd;
  padding: 30px 60px;
  width: 450px;
  height: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.goalCard__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.goalCard__section {
  margin-bottom: 40px;
}

.goalCard__section div {
  color: #333;
}

.goalCard__section__box {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 10px;
  width: fit-content;
  font-size: 16px;
}

.goalCard__section-flex {
  display: flex;
  justify-content: space-between;

}

.goalCard__content,
.goalCard__interval,
.goalCard__term {
  color: #666;
  font-size: 14px;
}


.goalCard__footer {
  display: flex;
  justify-content: flex-end;
}

.goalCard__footer .edit,
.goalCard__footer .delete {
  cursor: pointer;
  color: #888;
  margin-bottom: 20px;
  margin-left: 20px;
}

.goalCard__footer .edit:hover,
.goalCard__footer .delete:hover {
  color: #333;
}