/* 전체 페이지 스타일 */
.createdGoal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  padding: 1.5rem;
  gap: 1.5rem;
}

/* 제목 스타일 */
.createdGoal__title {
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
}

/* 버튼 스타일 */
.createdGoal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background-color: #95E757; 
  color: black;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.createdGoal__button:hover {
  background-color: #48bb78; 
}

.createdGoal__arrow {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: black;
  border-radius: 9999px;
}

.goalCard {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  margin-bottom: 20px;
}

.goalCard__title,
.goalCard__interval,
.goalCard__term {
  margin-bottom: 10px;
  font-size: 16px;
}

strong {
  font-weight: bold;
}