.progress-bar-container {
    position: flex;
    bottom: 99px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 60px;
}

.progress-track {
    width: 100%;
    max-width: 1171px;
    background-color: #e6e6e6;
    height: 5px;
    border-radius: 999px;
    margin-bottom: 13px;
    position: relative;
    overflow: hidden; /* ✅ 초과 부분 가리기 */
}

/* ✅ 진행 바 채우기 (JS에서 width 변경) */
.progress-fill {
    height: 5px;
    background-color: #95e757;
    border-radius: 999px;
    transition: width 0.3s ease-in-out;
}

.progress-step-container {
    width: 100%;
    max-width: 1171px;
    display: flex;
    justify-content: space-between;
}

.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-text {
    color: #e6e6e6;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.progress-step.active .progress-text {
    color: #212121;
}
