.header-container {
  display: flex;
  width: 100%;
  padding: 15px 120px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  transition: all 0.3s erase-in-out;
}

/* ✅ 특정 페이지에서만 적용할 투명 헤더 */
.transparent-header {
  background-color: transparent !important; /* ✅ 헤더 배경 투명화 */
  position: absolute !important; /* ✅ 헤더를 배경 위에 띄우기 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101; /* ✅ 가장 위에 위치하도록 */
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text {
  color: #212121;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  text-transform: capitalize;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
  flex-basis: auto;
}

.nav-item {
  color: #545454;
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-item-active {
  color: #212121;
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: #212121;
  font-weight: 600;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.Bell-Icon,
.profile-Icon {
  color: #212121;
}

@media (max-width: 1024px) {
  /* 태블릿 화면 대응 */
  .header-container {
    padding: 15px 60px;
    gap: 20px; /* gap을 줄여서 정렬 문제 해결 */
  }

  .nav-list {
    justify-content: center; /* 네비게이션을 항상 중앙 정렬 */
    flex-grow: 1;
  }

  .icon-container {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  /* 노트북 & 모바일 */
  .header-container {
    padding: 10px 30px;
    gap: 10px;
  }

  .nav-list {
    justify-content: center;
    gap: 16px;
  }

  .icon-container {
    gap: 16px;
  }
}
